/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Debug */
.debug1 {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug 3 {
  background: #d64161;
}
.debug 4 {
  background-color: #ff7b25;
}
/* Fine Debug */

/* STILI GENERALI */
.main-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #d9dbd4;
  padding: 20px 0;
}
.container {
  width: 80%;
  height: 98%;
  margin: auto;
  display: flex;
}
.sidebar {
  width: 40%;
  height: 100%;
}
.main {
  width: 60%;
  height: 100%;
  background-color: red;
}
.header {
  background-color: #eaeaea;
  height: 70px;
  width: 100%;
}
/* FINE STILI GENERALI */

/* SIDEBAR */

/* FINE SIDEBAR */

/* MEDIAQUERY */
@media screen and (max-width: 900px) {
  .container {
    flex-wrap: nowrap;
  }


  /* .sidebar {
    width: 250px;
  }
  .main {
    width: 400px;
  } */
}
/* FINE MEDIAQUERY */
