/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  height: 100%;
}
/* FINE RESET */

/* Debug */
.debug1 {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug3 {
  background: #d64161;
}
.debug4 {
  background-color: #ff7b25;
}
/* Fine Debug */

/* LAYOUT */
.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 900px;
  height: 100vh;
  background: linear-gradient(180deg, #009688 130px, #d8dbd5 130px);
  font-family: 'Lato', sans-serif;
}
.app-container {
  width: 90%;
  height: 95%;
}
.sidebar {
  float: left;
  width: 40%;
  height: 100%;
}
.main {
  float: left;
  width: 60%;
  height: 100%;
}
/* FINE LAYOUT */

/* ELEMENTI RIPETUTI */
/* Header */
.header {
  background-color: #eaeaea;
  height: 70px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
  margin-left: 20px;
  color: #b1b1b1;
}
.border-left {
  border-left: 1px solid #b1b1b1;
}
/* Fine header */

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  border-radius: 50%;
}
/* Fine avatar */

/* Contact info */
.contact-info {
  flex-grow: 1;
  padding-left: 10px;
}
.contact-info span {
  color: #b1b1b1;
}
/* Fine contact info */
/* FINE ELEMENTI RIPETUTI */

/* SIDEBAR */
/* Sidebar sezione notifiche */
.sidebar .notice {
  background-color: #8edafc;
  height: 80px;
  width: 100%;
  padding: 15px;
  display: flex;
}
.sidebar .notice .sound-off {
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.sidebar .notice .notice-info {
  margin-left: 10px;
}
.sidebar .notice .notice-info p {
  color: #598599;
  text-decoration: underline;
  margin-top:3px;
}
/* Fine sidebar sezione notifiche */

/* Sidebar sezione ricerca contatto */
.sidebar .search {
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
  padding: 5px;
}
.sidebar .search-container {
  height: 100%;
  background-color: white;
}
.sidebar label {
  display: inline-block;
  background-color: white;
  text-align: center;
  width: 60px;
}
.sidebar .search-container i {
  color: #b1b1b1;
  margin-right: 5px;
}
.sidebar .search .search-contact {
  border: 0;
  height: 100%;
  width: calc(100% - 70px);
}
/* Fine sidebar sezione ricerca contatto */

/* Sidebar contact list */
.sidebar .contact-list {
  height: calc(100% - 200px);
  overflow-y: scroll;
  background-color: white;
}
.sidebar .contact-list .contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #b1b1b1;
  padding: 5px 20px;
}
.contact-time {
  color: #b1b1b1;
}
/* Fine sidebar contact list */
/* FINE SIDEBAR */

/* MAIN */
/* Inizio spazio chat */
.main .chat-wrapper {
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-image: url("../img/mine.jpg");
}
.main .chat-container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: none;
}
.chat-container.active {
  display: block;
}
.chat-container .single-message {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  min-width: 200px;
  max-width: 80%;
  position: relative;
  clear: both;
  margin: 25px 0;
}
.single-message .time-message {
  position: absolute;
  font-size: 13px;
  bottom: 2px;
  right: 2px;
  color: #b1b1b1;
}
.chat-container .single-message.received-message {
  background-color: white;
  float: left;
}
.chat-container .single-message.sent-message {
  background-color: #d5f9ba;
  float: right;
}
.single-message .message-arrow {
  position: absolute;
  right: 10px;
  font-size: 15px;
  color: #b1b1b1;
  display: none;
}
.single-message:hover .message-arrow {
  display: inline-block;
}
.single-message .message-arrow {
  cursor: pointer;
}
.message-action {
  width: 150px;
  background-color: white;
  position: absolute;
  top: 82%;
  right: 7px;
  padding: 10px;
  display: none;
}
.single-message .message-action.active {
  display: inline-block;
}
.message-action ul li {
  list-style-type: none;
  margin: 10px 0;
}
.message-action .delete-message:hover {
  cursor: pointer;
}
.template {
  display: none;
}
/* Fine spazio chat */

/* Inizio sezione type message */
.main .type-message {
  background-color: #f3eeea;
  height: 70px;
  width: 100%;
  color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.main .type-message i {
  font-size: 25px;
  width: 40px;
  text-align: center;
}
#submit-message {
  cursor: pointer;
}
.main .type-message .message-input {
  border-radius: 5px;
  flex-grow: 1;
  height: 100%;
  border: 0;
}
/* Inizio sezione type message */
/* FINE MAIN */

/* Inizio custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 10px;
}
/* Fine custom scrollbar */
