/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Debug */
.debug1 {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug3 {
  background: #d64161;
}
.debug4 {
  background-color: #ff7b25;
}
/* Fine Debug */

/* STILI GENERALI */
.main-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #d9dbd4;
  padding: 20px 0;
}
.container {
  width: 80%;
  min-width: 900px; /* Sotto i 900px non è più responsive */
  height: 98%;
  margin: auto;
  display: flex;
}
.sidebar {
  width: 40%;
  height: 100%;
}
.main {
  width: 60%;
  height: 100%;
}
img {
  height: 100%;
}
/* FINE STILI GENERALI */

/* ELEMENTI RIPETUTI */
/* Header */
.header {
  background-color: #eaeaea;
  height: 70px;
  width: 100%;
  padding: 10px;
  display: flex;
  color: #b1b1b1;
  justify-content: space-between;
}
.header .nav ul {
  display: flex;
  line-height: 50px;
}
.header .nav li {
  list-style-type: none;
  font-size: 20px;
  margin-left: 20px;
}
/* Fine header */
.border-left {
  border-left: 1px solid #b1b1b1;
}
.avatar {
  height: 100%;
}
.avatar img {
  border-radius: 50%;
}

/* Contatti */
.contact {
  display: flex;
}
.contact-name {
  color: black;
}
.contact-info {
  padding-left: 10px;
}
.contact-info p {
  margin-top: 5px;
  color: #b1b1b1;
}
.contact-list .contact {
  background-color: #fff;
  border: 1px solid #c1c4c5;
  height: 70px;
  padding: 5px;
}
.contact-list ul li {
  position: relative;
}
.contact .time {
  color: #b1b1b1;
  position: absolute;
  top: 15px;
  right: 20px;
}

/* Fine contatti */
/* FINE ELEMENTI RIPETUTI */

/* SIDEBAR */
.sidebar .notice {
  background-color: #8edafc;
  height: 80px;
  width: 100%;
}
.sidebar .search {
  background-color: #fafafa;
  height: 50px;
  width: 100%;
}
.sidebar .contact-list {
  height: calc(100% - 200px);
  overflow-y: scroll;
}
/* FINE SIDEBAR */

/* MAIN */
.main .chat-wrapper {
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-image: url("../img/mine.jpg");
}
.main .type-message {
  background-color: #f3eeea;
  height: 70px;
  width: 100%;
  color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}
.main .type-message i {
  font-size: 25px;
  line-height: 50px;
}
#submit-message {
  cursor: pointer;
}
.main .type-message .message {
  border-radius: 5px;
  width: 85%;
  border: 0;
  padding-left: 5px;
}

/* Inizio spazio chat */
.main .chat-container {
  width: 80%;
  margin: auto;
  height: 100%;
}
.template {
  display: none;
}
.chat-container .single-message {
  padding: 15px;
  border-radius: 5px;
  width: 40%;
  margin: 25px auto;
  position: relative;
}
.single-message .time {
  position: absolute;
  font-size: 15px;
  bottom: 2px;
  right: 2px;
  color: #b1b1b1;
}
.chat-container .single-message.received-message {
  background-color: white;
  margin-left: 0;
  margin-right: auto;
}
.chat-container .single-message.sent-message {
  background-color: #d5f9ba;
  margin-left: auto;
  margin-right: 0;
}
/* Fine spazio chat */
/* FINE MAIN */

/* Inizio custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 10px;
}
/* Fine custom scrollbar */
